{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"} 
{:block/created-at 1721875566917
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "05dbef00-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:point [520 256]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875558899}}
:block/updated-at 1721875566917} 
{:block/created-at 1721875579808
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [93 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "0d0ac530-4a30-11ef-8d0f-41b121e5d82f"
:padding 4
:fontWeight 400
:noFill true
:point [480 96]
:lineHeight 1.2
:fontSize 20
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:nonce 1721875570966
:italic false
:text "Meaning"}}
:block/updated-at 1721875579808} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"} 
{:block/created-at 1721875580016
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "66a1bc7b-99c1-406c-9195-d52228c6e57b"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "126e0320-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [606.3872282608695 178.2092391304348]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875579987}}
:block/updated-at 1721875580016} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc7c-e27c-4431-bfe8-b858478532a4"} 
{:block/created-at 1721875580397
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "66a1bc7c-e27c-4431-bfe8-b858478532a4"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "12a825f0-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [606.3872282608695 178.2092391304348]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875580368}}
:block/updated-at 1721875580397})
:pages (
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66a1bc64-3895-4e10-8251-77e0eda54a69"
:name "language model"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("05dbef00-4a30-11ef-8d0f-41b121e5d82f" "0d0ac530-4a30-11ef-8d0f-41b121e5d82f" "126e0320-4a30-11ef-8d0f-41b121e5d82f" "12a825f0-4a30-11ef-8d0f-41b121e5d82f")}}
:block/updated-at 1721875580397
:block/created-at 1721875556546
:block/type "whiteboard"
:block/name "language model"
:block/original-name "language model"})}