{:blocks (
{:block/content "Language Model"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"} 
{:block/created-at 1721875640518
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [152 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "05dbef00-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:point [520 256]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875559039}}
:block/updated-at 1721875640518} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"} 
{:block/content "Attention"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bc7c-e27c-4431-bfe8-b858478532a4"} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc7c-e27c-4431-bfe8-b858478532a4"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc8f-c751-4170-836a-0792bc3c57a6"} 
{:block/content "Relevance"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc8f-c751-4170-836a-0792bc3c57a6"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"} 
{:block/created-at 1721875685849
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [96 64.99998938519022]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "29306da0-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [440 152]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875618592}}
:block/updated-at 1721875685849} 
{:block/created-at 1721875685852
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [96 65.00001543972333]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3f62f430-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [424 344]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875618750}}
:block/updated-at 1721875685852} 
{:block/created-at 1721875694049
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [128 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "45b85a50-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [744 144]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875618725}}
:block/updated-at 1721875694049} 
{:block/created-at 1721875699792
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [128 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "579876b0-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [752 360]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875618836}}
:block/updated-at 1721875699792})
:pages (
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66a1bc64-3895-4e10-8251-77e0eda54a69"
:name "language model"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("05dbef00-4a30-11ef-8d0f-41b121e5d82f" "29306da0-4a30-11ef-8d0f-41b121e5d82f" "3f62f430-4a30-11ef-8d0f-41b121e5d82f" "45b85a50-4a30-11ef-8d0f-41b121e5d82f" "579876b0-4a30-11ef-8d0f-41b121e5d82f")}}
:block/updated-at 1721875699792
:block/created-at 1721875556546
:block/type "whiteboard"
:block/name "language model"
:block/original-name "language model"})}