{:blocks (
{:block/content "Language Model"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"} 
{:block/created-at 1721875733339
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [152 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "05dbef00-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:point [600 256]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875559119}}
:block/updated-at 1721875733339} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc6e-f9c0-4e2d-a53f-be33d82fce49"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"} 
{:block/content "Attention"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc7b-99c1-406c-9195-d52228c6e57b"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bc7c-e27c-4431-bfe8-b858478532a4"} 
{:block/content "Meaning"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc7c-e27c-4431-bfe8-b858478532a4"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/uuid #uuid "66a1bc8f-c751-4170-836a-0792bc3c57a6"} 
{:block/content "Memory"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66a1bc8f-c751-4170-836a-0792bc3c57a6"}
:block/parent 
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"}
:block/properties 
{}
:block/uuid #uuid "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"} 
{:block/created-at 1721875768441
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "66a1bca2-d2c4-47fc-b9cb-776aa0ca7bd1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [128 40.999986490242094]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "579876b0-4a30-11ef-8d0f-41b121e5d82f"
:noFill false
:isLocked false
:point [752 360]
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:collapsedHeight 0
:nonce 1721875618836}}
:block/updated-at 1721875768441} 
{:block/created-at 1721875779746
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [144 48]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Meaning"
:id "81d43b30-4a30-11ef-8d0f-41b121e5d82f"
:fontWeight 400
:noFill false
:point [432 144]
:fontSize 20
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:nonce 1721875766971
:italic false}}
:block/updated-at 1721875779746} 
{:block/created-at 1721875785178
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [144 48]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Meaning"
:id "8ad400d0-4a30-11ef-8d0f-41b121e5d82f"
:fontWeight 400
:noFill false
:isLocked false
:point [432 352]
:fontSize 20
:parentId "66a1bc64-3895-4e10-8251-77e0eda54a69"
:nonce 1721875767197
:italic false}}
:block/updated-at 1721875785178})
:pages (
{:block/uuid #uuid "66a1bc64-3895-4e10-8251-77e0eda54a69"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66a1bc64-3895-4e10-8251-77e0eda54a69"
:name "language model"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("05dbef00-4a30-11ef-8d0f-41b121e5d82f" "579876b0-4a30-11ef-8d0f-41b121e5d82f" "81d43b30-4a30-11ef-8d0f-41b121e5d82f" "8ad400d0-4a30-11ef-8d0f-41b121e5d82f")}}
:block/updated-at 1721875785178
:block/created-at 1721875556546
:block/type "whiteboard"
:block/name "language model"
:block/original-name "language model"})}